@model List<MargotCodeSystem.Database.DbModels.HouseOccupantGroupModel>
@using MargotCodeSystem.Models.Identity
@using MargotCodeSystem.Utils
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager;
@inject UserManager<ApplicationUser> UserManager;

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <style>

        .title {
            font-family: OPTIFrankfurter;
            font-size: 35px;
            text-align: left;
            margin: 0;
            padding: 20px 35px;
            line-height: 1;
        }

        body {
            font-family: OPTIFrankfurter;
            font-size: 25px;
            padding-top: 80px;
        }

        .btn-register {
            background-color: #FFB000;
            color: white;
            padding: 10px 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            font-family: OPTIFrankfurter;
            position: absolute;
            bottom: 20px;
            right: 140px;
        }

            .btn-register:hover {
                background-color: #CF9207;
            }


        .sidebar {
            width: 270px;
            background-color: #F4B628;
            padding: 0;
            border-top-right-radius: 40px;
            border-bottom-right-radius: 40px;
            font-family: OPTIFrankfurter;
            font-size: 18px;
            position: fixed;
            left: 0;
            top: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;
        }

            .sidebar .title {
                font-family: OPTIFrankfurter;
                font-size: 35px;
                color: white;
                text-align: left;
                margin: 0;
                padding: 25px 25px;
                padding-top: 0;
            }

            .sidebar a {
                color: white;
                text-decoration: none;
                transition: color 0.3s ease;
                border-radius: 20px;
                margin-bottom: 10px;
                padding: 10px 20px;
                background-color: #C21A22;
                border-radius: 0 30px 30px 0;
                display: block;
                width: 250px;
            }

                .sidebar a:hover {
                    background-color: white;
                    color: #760E13;
                }

                .sidebar a.clicked {
                    background-color: white;
                    color: #C21A22;
                }

        .logout-container {
            margin-top: 120px;
            text-align: left;
        }

        .logout-button {
            color: #C21A22;
            text-decoration: none;
            background-color: white;
            border-radius: 0 30px 30px 0;
            border: none;
            display: block;
            width: 250px;
            padding: 8px 15px;
            position: relative;
            overflow: hidden;
            text-align: left;
        }

            .logout-button:hover {
                background-color: #760E13;
                color: white;
            }

            .logout-button i {
                margin-right: 0;
                color: inherit;
            }

            .logout-button:hover i {
                color: white;
            }

        .fa-sign-out-alt {
            color: white;
            font-size: 20px;
            margin: 5px;
        }

        .top-bar {
            background-color: white;
            color: black;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            width: 100%;
            top: 0;
            right: 0;
            left: 270px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .search-input {
            margin-right: 400px;
            padding: 8px 8px;
            font-size: 14px;
            border-radius: 10px;
        }

            .search-input i {
                margin-right: 5px;
                color: red;
            }

            .search-input input[type="text"] {
                border: 1px solid red;
                padding: 6px;
                font-size: 12px;
                border-radius: 5px;
                color: darkred;
                font-family: OPTIFrankfurter;
            }

        .back-button {
            font-family: 'OPTIFrankfurter', sans-serif;
            position: absolute;
            top: 0;
            margin: 0;
            right: 100px;
            font-size: 20px;
            color: #C21A22;
            border: none;
            padding-top: 15px;
            background-color: transparent;
            text-decoration: none;
        }

            .back-button:hover {
                color: #760E13;
            }


        .record {
            font-family: OPTIFrankfurter;
            font-size: 15px;
            padding-left: 0;
            padding-top: 25px;
        }

        .table {
            border-collapse: separate;
            border-spacing: 5px 5px;
        }

            .table th {
                border-radius: 10px;
                border: 1px solid #ddd;
                padding: 8px;
                background-color: #FFB000;
                color: white;
                text-align: center;
            }

            .table td {
                border-radius: 10px;
                border: 1px solid #ddd;
                padding: 8px;
                background-color: #C21A22;
                color: white;
            }

        h1 {
            font-family: 'OPTIFrankfurter';
            font-size: 30px;
            color: white;
            padding-left: 25px;
            padding-top: 5px;
        }

        .search-button {
            background-color: #C21A22;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 8px 20px;
            font-size: 16px;
            cursor: pointer;
            font-family: OPTIFrankfurter;
            margin-right: 5px;
        }

            .search-button:hover {
                background-color: #760E13;
            }

        .add-button {
            background-color: #C21A22;
            color: white;
            border: none;
            border-radius: 10px;
            padding: 8px 20px;
            font-size: 16px;
            cursor: pointer;
            font-family: OPTIFrankfurter;
            text-decoration: none;
        }

            .add-button:hover {
                background-color: #760E13;
                color: white;
            }

        .db-button {
            background-color: #FFB000;
            color: #C21A22;
            border: none;
            border-radius: 10px;
            padding: 8px 20px;
            font-size: 16px;
            cursor: pointer;
            font-family: OPTIFrankfurter;
            text-decoration: none;
        }

            .db-button:hover {
                background-color: #CF9207;
                color: #C21A22;
            }

        .page-on {
            color: #760E13;
            text-decoration: none;
            transition: color 0.3s ease;
            border-radius: 20px;
            margin-bottom: 10px;
            padding: 10px 20px;
            background-color: white;
            border-radius: 0 30px 30px 0;
            display: block;
            width: 250px;
        }

        .welcome {
            font-family: OPTIFrankfurter;
            font-size: 35px;
            color: #C21A22;
            padding-left: 50px;
            padding-right: 300px;
        }


        .welcome1 {
            font-family: OPTIFrankfurter;
            font-size: 20px;
            color: #C21A22;
        }
        .content-wrapper {
            margin-top: 0;
            margin-left: 200px;
            margin-right: 0;
            flex: 1;
            background-color: white;
            padding: 20px;
            padding-top: 0;
        }
    </style>


</head>

<body>
    <div class="sidebar">
        <div class="title">
            <br />BARANGAY<br /> MARGOT<br /> DATABASE<br /> SYSTEM
        </div>
        <a href = "/Resident/Dashboard">RESIDENTS </a>
        <div class="page-on"> HOUSE OCCUPANTS</div>
        <a href="/Resident/RecoverView">RECOVER RECORD</a>
        @Html.ActionLink("BIRTHDAYS", "UpcomingBirthdays", "Resident", null, new { id = "btnViewUpcomingBirthdays" })
        <a href="/Resident/Statistics">STATISTICS</a>


        @using (Html.BeginForm("Logout", "Account", FormMethod.Post))
        {
            <div class="logout-container">
                <button id="logout" type="submit" class="logout-button">
                    <i class="fas fa-sign-out-alt"></i> LOG OUT
                </button>
            </div>
        }
    </div>


    <div class="top-bar">
        <div class="welcome">Welcome, @UserManager.GetUserName(User)!</div>
        <div class="search-input">
            <i class="fas fa-search"></i>
            <input type="text" id="searchInput" placeholder="Looking for someone?" oninput="search()">
        </div>
    </div>

    <div class="content-wrapper">
        @{
            if (SignInManager.IsSignedIn(User))
            {
                var roleClaim = User.Claims.FirstOrDefault(x => x.Type == System.Security.Claims.ClaimTypes.Role);
            }
        }

        <div class="button-container">
            <a href="/House/AddHouse" class="add-button">ADD NEW HOUSE</a>
            <a href="/House/AddOccupant" class="add-button">ADD HOUSE OCCUPANT</a>
        </div>

        <div class="content" id="dynamicContent"></div>
        <div class="welcome1" id="noRecords" style="display: none;">No records found under houses.</div>


        <div class="record">
            @if (!Model.Any() || (ViewBag.SearchText != null && !Model.Any(group => group.HouseOccupants.Any(occupant => occupant.FullName.ToLower().Contains(ViewBag.SearchText.ToLower())))))
            {
                <table class="table">
                    <tr>
                        <td>No records found.</td>
                    </tr>
                </table>
            }
            else
            {
                foreach (var group in Model)
                {
                    if (group.HouseOccupants.Any())
                    {
                        <h2>@EncryptionHelper.DecryptString(group.HouseName) Family</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>FULL NAME</th>
                                    <th>POSITION</th>
                                    <th>AGE</th>
                                    <th>BIRTH DATE</th>
                                    <th>CIVIL STATUS</th>
                                    <th>SOURCE OF INCOME</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var occupant in group.HouseOccupants)
                                {
                                    <tr>
                                        <td>@occupant.FullName</td>
                                        <td>@occupant.Position</td>
                                        <td>@occupant.Age</td>
                                        <td>@occupant.BirthDate</td>
                                        <td>@occupant.CivilStatus</td>
                                        <td>@occupant.SourceIncome</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                }
            }
        </div>
    </div>


    <script>
        function search() {
            var searchText = document.getElementById("searchInput").value.toLowerCase();
            var rows = document.querySelectorAll(".table tbody tr");
            var found = false; // Flag to track if any matching row is found

            rows.forEach(function (row) {
                var fullName = row.querySelector("td:nth-child(1)").textContent.toLowerCase();
                var position = row.querySelector("td:nth-child(2)").textContent.toLowerCase();
                var age = row.querySelector("td:nth-child(3)").textContent.toLowerCase();
                var birthDate = row.querySelector("td:nth-child(4)").textContent.toLowerCase();
                var civilStatus = row.querySelector("td:nth-child(5)").textContent.toLowerCase();
                var sourceIncome = row.querySelector("td:nth-child(6)").textContent.toLowerCase();

                if (fullName.includes(searchText) || position.includes(searchText) || age.includes(searchText) || birthDate.includes(searchText) || civilStatus.includes(searchText) || sourceIncome.includes(searchText)) {
                    row.style.display = ""; // Show the row if it matches
                    found = true; // Set flag to true if any match is found
                } else {
                    row.style.display = "none"; // Hide the row if it doesn't match
                }
            });

            // Check if any matching rows were found
            if (!found) {
                document.getElementById("noRecords").style.display = "block"; // Show the "No records found" message
            } else {
                document.getElementById("noRecords").style.display = "none"; // Hide the message if records are found
            }
        }
    </script>

</body>
</html>
